<% content_for :pre_content do %>
  <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top  justify-content-between breezy-pdf-remove">
    <a class="navbar-brand d-none d-sm-inline" href="#">PDF Rendering Survey Results</a>
    <ul class="navbar-nav my-2">
      <li class="nav-item">
        <a class="nav-link pdf-link" href="/survey-results.pdf?pdf=true"><i class="fab fa-github"></i> Source</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pdf-link" href="/survey-results.pdf?pdf=true"><i class="fas fa-file-pdf"></i> Download PDF</a>
      </li>
    </ul>
  </nav>
<% end %>
