<div class="main-content container pt-4 pt-md-0">
    <div class="row breezy-pdf-remove">
        <div class="col-12 text-right">
            <span id="waiting" hidden>
          <i class="fas fa-sync fa-spin"></i> Please wait...
          &nbsp;
      </span>
            <a id="download" class="btn btn-primary" href="/form.pdf?pdf=true"><i class="far fa-file-pdf"></i> Download PDF</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form id="rendered-form">
                <div class="rendered-form">
                    <div class="fb-text form-group field-text-1535124449696">
                        <label for="text-1535124449696" class="fb-text-label">Name</label>
                        <input type="text" class="form-control" name="text-1535124449696" id="text-1535124449696">
                    </div>
                    <div class="fb-checkbox-group form-group field-checkbox-group-1535124196676">
                        <label for="checkbox-group-1535124196676" class="fb-checkbox-group-label">Tax Rate
                            <br>
                        </label>
                        <div class="checkbox-group">
                            <div class="checkbox">
                                <input name="checkbox-group-1535124196676[]" id="checkbox-group-1535124196676-0" value="option-1" type="checkbox"">
                                <label for="checkbox-group-1535124196676-0">5%</label>
                            </div>
                            <div class="checkbox">
                                <input name="checkbox-group-1535124196676[]" id="checkbox-group-1535124196676-1" type="checkbox">
                                <label for="checkbox-group-1535124196676-1">7%</label>
                            </div>
                            <div class="checkbox">
                                <input name="checkbox-group-1535124196676[]" id="checkbox-group-1535124196676-2" type="checkbox">
                                <label for="checkbox-group-1535124196676-2">350%</label>
                            </div>
                        </div>
                    </div>
                    <div class="fb-select form-group field-select-1535124206401">
                        <label for="select-1535124206401" class="fb-select-label">State</label>
                        <select class="form-control" name="select-1535124206401" id="select-1535124206401">
                            <option value="option-1" id="select-1535124206401-0">WA</option>
                            <option value="option-2" id="select-1535124206401-1">OR</option>
                            <option value="option-3" id="select-1535124206401-2">CA</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
